<h1>Welcome To oAuthy App</h1>
<hr>
<h3>Inspecting Params Hash</h3>
<p><%= params %></p>

<h3>Inspecting request Hash</h3>
<p><%= request %></p>

<h3>Inspecting response Hash</h3>
<p><%= response %></p>

<h3>Inspecting headers Hash</h3>
<p><%= headers %></p>


<%= link_to "Access Admin DashBoard", admin_dashboard_path %>


<%= link_to "New User Registration", sign_up_path %>
